@import "../../assets/scss/variables";

.scores {
  flex: 2;
  display: flex;

  & div {
    border: solid gray 1px;
    height: 30px;
    width: 30px;
    max-width: 30px;
    text-align: center;
    color: #000000;
    padding-top: 4px;
  }
}
.hole-numbers {
  flex: 2;
  display: flex;
  & div {
    text-align: center;
    width: 30px;
    max-width: 30px;
    color: #000000;
    font-weight: 600;
  }
}
.par {
  background-color: #ffffff;
}
.birdie {
  background-color: #90ee90;
}
.eagle {
  background-color: #00bfff;
}
.double-eagle {
  background-color: #9932cc;
}
.bogey {
  background-color: #ffe4c4;
}
.double-bogey {
  background-color: #deb887;
}
.other {
  background-color: #b8860b;
}
.below-par {
  color: red !important;
}
.above-par {
  color: black !important;
}
.total {
  font-weight: 600;
  width: 36px !important;
  max-width: 36px !important;
}

.bg-east {
  background-color: $red !important;
}

.bg-north {
  background-color: $blue !important;
}

.bg-west {
  background-color: $amber !important;
}

@media only screen and (max-width: 480px) {
  .round {
    font-size: .8em;
  }
  .scores {
    flex: 2;
    display: flex;
  
    & div {
      font-size: .9em;
      border: solid gray 1px;
      height: 22px;
      width: 22px;
      max-width: 22px;
      text-align: center;
      color: #000000;
      padding-top: 0;
    }
  }
  .hole-numbers {
    flex: 2;
    display: flex;
    & div {
      text-align: center;
      width: 22px;
      max-width: 22px;
      color: #000000;
      font-weight: 600;
    }
  }
  .total {
    font-weight: 600;
    width: 32 !important;
    max-width: 32px !important;
  }
}