@import "../assets/scss/bootstrap/_functions.scss";
@import "../assets/scss/bootstrap/mixins";
@import "../assets/scss/bootstrap/_variables.scss";
@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.sidebar-backdrop {
  @include media-breakpoint-up(xl) {
    display: none;
  }

  @include media-breakpoint-down(xl) {
    position: fixed;
    @include size(100%, 100%);
    left: 0;
    top: 0;
    z-index: $sidebar-z-index - 1;
    cursor: pointer;
  }
}

@mixin sidebar-toggled() {
  background-color: $white;
  transition: transform 300ms, opacity 300ms;

  &:not(.toggled) {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  &.toggled {
    box-shadow: 5px 0 10px rgba($black, 0.08);
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.sidebar {
  width: $sidebar-width;
  position: fixed;
  left: 0;
  padding: $header-height 2rem 0.5rem 2rem;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $sidebar-z-index;

  @include media-breakpoint-down(xl) {
    @include sidebar-toggled();
  }
}

.sidebar--hidden {
  @include sidebar-toggled();
}

.sidebar--bg {
  background-image: linear-gradient(to right bottom, rgba($green, 0.8), rgba($blue, 0.8)),
    url(../assets/img/ThreeNorth.jpg);
  background-size: cover;
  background-position: left;
}

.admin-sidebar--bg {
  background-image: linear-gradient(to right bottom, rgba($teal, 0.8), rgba($green, 0.8)),
    url(../assets/img/ThreeEastJimmy.jpg);
  background-size: cover;
  background-position: left;
}

// Site Navigation
.navigation {
  list-style: none;
  margin-top: 20px;
  padding: 0;

  li {
    a {
      transition: background-color 300ms, color 300ms;
      font-weight: $font-weight-bold;
      display: block;
    }

    &:not(.navigation__active) {
      a {
        color: $white;
        @include media-breakpoint-up(xl) {
          color: $white;
        }
        &:hover {
          background-color: $navigation-link-hover-bg;
          color: darken($white, 10%);
          @include media-breakpoint-up(xl) {
            color: darken($white, 10%);
          }
        }
      }
    }
  }

  & > li {
    & > a {
      padding: 0.85rem 0.5rem;
      position: relative;
      border-radius: $border-radius;

      & > i {
        vertical-align: top;
        font-size: 1.3rem;
        position: relative;
        top: 0.1rem;
        width: 1.5rem;
        text-align: center;
        margin-right: 0.6rem;
      }
    }
  }
}

.navigation__sub {
  & > ul {
    border-radius: $border-radius;
    list-style: none;
    overflow: hidden;
    padding: 0;

    & > li {
      & > a {
        padding: 0.6rem 1rem 0.6rem 2.75rem;
      }

      &:last-child {
        padding-bottom: 0.8rem;
      }
    }
  }

  .navigation__active {
    position: relative;

    &:before {
      @include font-icon("\f26d", 6px);
      position: absolute;
      left: 1rem;
      top: 1.1rem;
    }
  }
}

.navigation-trigger {
  float: left;
  padding: 2rem 2rem 2rem 2.4rem;
  margin-left: -2rem;
  cursor: pointer;

  &.toggled {
    .navigation-trigger__inner {
      transform: rotate(180deg);

      &:before {
        transform: scale(1);
      }
    }

    .navigation-trigger__line {
      &:first-child {
        width: 12px;
        transform: translateX(8px) translateY(1px) rotate(45deg);
      }

      &:last-child {
        width: 11px;
        transform: translateX(8px) translateY(-1px) rotate(-45deg);
      }
    }
  }
}

.navigation-trigger__inner,
.navigation-trigger__line {
  width: 18px;
  transition: all 300ms;
}

.navigation-trigger__inner {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: -11px;
    top: -14px;
    background-color: rgba($white, 0.25);
    border-radius: 50%;
    transition: all 300ms;
    transform: scale(0);
  }
}

.navigation-trigger__line {
  height: 2px;
  background-color: $white;
  display: block;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 3px;
  }
}

.header__logo {
  @include media-breakpoint-up(xl) {
    min-width: calc(#{$sidebar-width} - 2rem);
  }

  & > h1 {
    color: $white;
    line-height: 100%;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;

    & > a {
      color: $white;
    }
  }
}

// Base
.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  box-shadow: $header-shadow;
  color: $white;
  padding: 0 1rem 0 2rem;
  z-index: $header-z-index;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  transition: background-color 300ms;

  @include clearfix();

  .ma-backdrop {
    position: absolute;
  }
}

// Nav
.top-nav {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;

  & > li {
    display: inline-block;
    vertical-align: middle;

    & > a,
    & > button {
      display: block;
      color: $white;
      border-radius: 2px;
      text-align: center;
      line-height: 100%;
      position: relative;
      @include transition(background-color 300ms);

      &:not(.header__nav__text) {
        padding: 0.5rem 0.15rem;
        min-width: 50px;

        & > .zmdi {
          font-size: 1.65rem;
          line-height: 100%;
        }
      }
    }

    & > button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    &.open,
    &:hover {
      & > a {
        background-color: rgba($white, 0.2);
      }
    }

    .dropdown-menu--block {
      padding: 0;
    }

    @include media-breakpoint-down(xs) {
      position: static;

      .dropdown-menu--block {
        left: 20px;
        width: calc(100% - 40px);
        top: $header-height - 10;
      }
    }
  }
}

// Top Navigation
.top-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  box-shadow: $header-shadow;
  padding: 0 1rem 0.5rem;
  list-style: none;
  text-align: center;

  & > li {
    display: inline-block;

    &.active {
      position: relative;
      box-shadow: 0 0 0 -2px red;
    }

    & > a {
      line-height: 100%;
      color: rgba($white, 0.65);
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      padding: 1rem;
      display: block;
      transition: color 300ms;

      &:hover {
        color: $white;
      }
    }

    &.active {
      & > a {
        color: $white;
      }
    }
  }
}

.footer {
  text-align: center;
  padding: 2rem 1rem;
  //   margin-top: 2rem;

  & > p {
    color: $footer-text-color;
    margin-bottom: 0;
  }
}

.footer__nav {
  justify-content: center;

  .nav-link {
    color: $footer-text-color;
    transition: color 300ms;

    &:hover,
    &:focus {
      color: $footer-text-hover-color;
    }

    & + .nav-link {
      &:before {
        @include font-icon("\f26d", 4px);
        position: relative;
        left: -1.2rem;
        top: -0.2rem;
        color: $footer-text-color;
      }
    }
  }
}
